# Data Science project

# import the dependencies

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# loding the dataset into pandas dataframe 
credit_card_data = pd.read_csv("card_transdata.csv")

In [5]:
# first five rows of the dataset 
credit_card_data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [6]:
credit_card_data.tail()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
999995,2.207101,0.112651,1.626798,1.0,1.0,0.0,0.0,0.0
999996,19.872726,2.683904,2.778303,1.0,1.0,0.0,0.0,0.0
999997,2.914857,1.472687,0.218075,1.0,1.0,0.0,1.0,0.0
999998,4.258729,0.242023,0.475822,1.0,0.0,0.0,1.0,0.0
999999,58.108125,0.318110,0.386920,1.0,1.0,0.0,1.0,0.0

In [7]:
 credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   distance_from_home              1000000 non-null  float64
 1   distance_from_last_transaction  1000000 non-null  float64
 2   ratio_to_median_purchase_price  1000000 non-null  float64
 3   repeat_retailer                 1000000 non-null  float64
 4   used_chip                       1000000 non-null  float64
 5   used_pin_number                 1000000 non-null  float64
 6   online_order                    1000000 non-null  float64
 7   fraud                           1000000 non-null  float64
dtypes: float64(8)
memory usage: 61.0 MB

In [8]:
# the distribution of legit transction and fraudlent transction
credit_card_data['fraud'].value_counts()

fraud
0.0    912597
1.0     87403
Name: count, dtype: int64

### This data set is highly unbalance 
0 --> vaild transction 
1 --> invaild transction

In [9]:
##Separate the data for aanlysis 
validtransction = credit_card_data[credit_card_data.fraud==0]
fraudtransction = credit_card_data[credit_card_data.fraud==1]

In [10]:
##Checking the fraud percentage 
validtransctionnumber = len(credit_card_data[credit_card_data.fraud==0])
fraudtransctionnumber = len(credit_card_data[credit_card_data.fraud==1])
fraudtransctionpercentage = fraudtransctionnumber/(fraudtransctionnumber+validtransctionnumber)*100
print(fraudtransctionpercentage)

8.7403

In [40]:
fraudtransction

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
13,2.131956,56.372401,6.358667,1.0,0.0,0.0,1.0,1.0
24,3.803057,67.241081,1.872950,1.0,0.0,0.0,1.0,1.0
29,15.694986,175.989182,0.855623,1.0,0.0,0.0,1.0,1.0
35,26.711462,1.552008,4.603601,1.0,1.0,0.0,1.0,1.0
36,10.664474,1.565769,4.886521,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
999908,45.296658,0.882736,8.856861,1.0,0.0,0.0,1.0,1.0
999916,167.139756,0.282253,0.308468,1.0,0.0,0.0,1.0,1.0
999919,124.640118,0.004416,0.434885,1.0,0.0,0.0,1.0,1.0
999939,51.412900,3.429330,29.914254,1.0,0.0,0.0,1.0,1.0
999949,15.724799,1.875906,11.009366,1.0,1.0,0.0,1.0,1.0

In [41]:
## stastical measure of the data 
validtransction.ratio_to_median_purchase_price.describe()

count    912597.000000
mean          1.423642
std           1.946152
min           0.004399
25%           0.449768
50%           0.913950
75%           1.788918
max         267.802942
Name: ratio_to_median_purchase_price, dtype: float64

In [42]:
fraudtransction.ratio_to_median_purchase_price.describe()

count    87403.000000
mean         6.006323
std          5.564320
min          0.011966
25%          3.500270
50%          5.071294
75%          7.331222
max        266.689692
Name: ratio_to_median_purchase_price, dtype: float64

In [43]:
##compare values for both transction 
credit_card_data.groupby('fraud').mean()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order
fraud,,,,,,,
0.0,22.832976,4.301391,1.423642,0.881672,0.359402,0.109944,0.622225
1.0,66.261876,12.712185,6.006323,0.880119,0.256399,0.003123,0.946318

# under sampling

Beacuse values of vaild and fraud highly imbalance to normalise this here we need to do under simpleling

build a semple data set containing similar destribution of normal transction and fraud transction

In [44]:
valid_sample = validtransction.sample(87403)
# value of fraud transction is 87403 so the sample is size for validtransction is 87403.

In [45]:
valid_sample

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
20412,2.361506,6.203195,1.641580,1.0,0.0,0.0,0.0,0.0
555534,84.011607,1.593053,1.684017,1.0,0.0,0.0,1.0,0.0
132724,7.190044,0.120076,0.313103,1.0,0.0,0.0,1.0,0.0
631528,2.650284,3.974371,3.584958,1.0,0.0,0.0,1.0,0.0
293074,7.819792,4.333268,0.729511,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
264917,1.311067,0.090164,0.956522,0.0,0.0,0.0,1.0,0.0
640237,16.929194,23.241605,1.184272,1.0,1.0,0.0,1.0,0.0
723153,3.313584,8.883771,0.291008,1.0,1.0,0.0,1.0,0.0
976716,6.479746,43.308770,0.625093,1.0,0.0,0.0,1.0,0.0
540474,9.445526,12.626463,15.450759,1.0,0.0,1.0,0.0,0.0

concatenating two dataframe

In [46]:
new_dataset = pd.concat([valid_sample,fraudtransction],axis=0)

In [47]:
new_dataset.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
20412,2.361506,6.203195,1.641580,1.0,0.0,0.0,0.0,0.0
555534,84.011607,1.593053,1.684017,1.0,0.0,0.0,1.0,0.0
132724,7.190044,0.120076,0.313103,1.0,0.0,0.0,1.0,0.0
631528,2.650284,3.974371,3.584958,1.0,0.0,0.0,1.0,0.0
293074,7.819792,4.333268,0.729511,1.0,1.0,0.0,0.0,0.0

In [48]:
new_dataset.tail()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
999908,45.296658,0.882736,8.856861,1.0,0.0,0.0,1.0,1.0
999916,167.139756,0.282253,0.308468,1.0,0.0,0.0,1.0,1.0
999919,124.640118,0.004416,0.434885,1.0,0.0,0.0,1.0,1.0
999939,51.412900,3.429330,29.914254,1.0,0.0,0.0,1.0,1.0
999949,15.724799,1.875906,11.009366,1.0,1.0,0.0,1.0,1.0

In [49]:
new_dataset['fraud'].value_counts()

fraud
0.0    87403
1.0    87403
Name: count, dtype: int64

In [50]:
#comparision between two classes 
new_dataset.groupby('fraud').mean()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order
fraud,,,,,,,
0.0,22.792596,4.274011,1.432565,0.881629,0.359599,0.111621,0.622473
1.0,66.261876,12.712185,6.006323,0.880119,0.256399,0.003123,0.946318

Split data into feature and target

In [51]:
x = new_dataset.drop(columns='fraud',axis=1)
y = new_dataset['fraud']

In [52]:
print(x)

        distance_from_home  distance_from_last_transaction  \
20412             2.361506                        6.203195
555534           84.011607                        1.593053
132724            7.190044                        0.120076
631528            2.650284                        3.974371
293074            7.819792                        4.333268
...                    ...                             ...
999908           45.296658                        0.882736
999916          167.139756                        0.282253
999919          124.640118                        0.004416
999939           51.412900                        3.429330
999949           15.724799                        1.875906

        ratio_to_median_purchase_price  repeat_retailer  used_chip  \
20412                         1.641580              1.0        0.0
555534                        1.684017              1.0        0.0
132724                        0.313103              1.0        0.0
631528                        3.584958              1.0        0.0
293074                        0.729511              1.0        1.0
...                                ...              ...        ...
999908                        8.856861              1.0        0.0
999916                        0.308468              1.0        0.0
999919                        0.434885              1.0        0.0
999939                       29.914254              1.0        0.0
999949                       11.009366              1.0        1.0

        used_pin_number  online_order
20412               0.0           0.0
555534              0.0           1.0
132724              0.0           1.0
631528              0.0           1.0
293074              0.0           0.0
...                 ...           ...
999908              0.0           1.0
999916              0.0           1.0
999919              0.0           1.0
999939              0.0           1.0
999949              0.0           1.0

[174806 rows x 7 columns]

In [53]:
print(y)

20412     0.0
555534    0.0
132724    0.0
631528    0.0
293074    0.0
         ...
999908    1.0
999916    1.0
999919    1.0
999939    1.0
999949    1.0
Name: fraud, Length: 174806, dtype: float64

Split data into training and testing

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(x.shape,x_train.shape,x_test.shape)

model training

logistic regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the logistic regression model with training data 
model.fit(x_train,y_train)

In [ ]:

#accurancy score 
X_train_predicition = model.predict(x_train)
trainig_data_accuracy = accuracy_score(X_train_predicition,y_train)

In [ ]:
print("Accuracy of the model",trainig_data_accuracy)

In [ ]:
# prediction on the testing data 
x_test_prediction = model.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [ ]:
print("Accuracy of the testing data",testing_data_accuracy)

In [ ]:
import pickle

In [ ]:
import joblib 
joblib.dump(model,'fraud_detection_model')

# Diffrence between Machine learning and Artifical intelligence

Difference between machine learning and Artifical intelligence 

Artifical intellogence 
Artificial intelligence is a broad field, which refers to the use of technologies to build machines and computers that have the ability to mimic cognitive functions associated with human intelligence, such as being able to see, understand, and respond to spoken or written language, analyze data, make recommendations, and more. 
Machine learning 
Machine learning is a subset of artificial intelligence that automatically enables a machine or system to learn and improve from experience. Instead of explicit programming, machine learning uses algorithms to analyze large amounts of data, learn from the insights, and then make informed decisions. 
so basically, 
AI is the broader concept of enabling a machine or system to sense, reason, act, or adapt like a human .
while 
ML is an application of AI that allows machines to extract knowledge from data and learn from it autonomously

# Real world task achieved by machine learning

Machine learning in useful in various real world task here are some example 
1. In automobile sector now a days driver less cars in the news this is application of machine learning
2. In sports like chess Top player use chess engine to analyse and improve their game this also is a application of machine learning
3. In finance sector application like this means credit card fraud detection, loan approval is very useful.
4. In  health care sector rabotic surgery and many  other application are  part of machine learnig .
5. LLMs like chatgpt,bard also used machinelearning in their backhand project
This is few exmple but machine learning has many more applications that can able solve real world problem.